.ulActive {
  margin: 0;
  padding: 0;
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
}

.ul {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.showScrollUl {
  height: 100%;
  overflow-y: scroll;
}

.labelInactive {
  margin: 0;
  margin-top: 10px;
}

.separator {
  width: 95%;
  border-bottom: 1px solid var(--separator);
  margin: 8px 0;
}

.showScrollUl::-webkit-scrollbar {
  width: 0.5vw;
}

.showScrollUl::-webkit-scrollbar-button {
  display: none;
}

.showScrollUl::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.showScrollUl::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

/* LOG IN */
.logInContainer {
  padding: 0.5rem 1.6rem 0.5rem 1.6rem;
}

.logInDescription {
  margin: 0;
  color: var(--white);
  line-height: 20px;
  font-size: 0.87rem;
  margin-bottom: 1rem;
}
/* FIN DE LOG IN */

/* Explorar */
.explorerTitle {
  color: var(--gray);
  font-family: 'Roboto Medium';
  padding-left: 1.6rem;
  margin: 0.5rem 0 0;
  font-size: 0.87rem;
}

.exploreImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.exploreLabel {
  margin-left: 0;
  line-break: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 13px 20px 13px 0;
  font-family: 'Roboto Medium';
  font-weight: 500;
}
/* Fin del explorar */
