.anchor,
.menuItemLink {
  color: var(--white);
}

.asideMenu {
  height: 100vh;
  padding-top: 65px;
  background-color: var(--light-bg-color-dark);
  position: absolute;
  top: 0;
  z-index: 0;
}

.active {
  width: 220px;
}

.ulActive {
  margin: 0;
  padding: 0;
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
}

.menuItemActive {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menuItemLinkActive {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.87rem;
  line-height: 20px;
  font-family: 'Roboto Medium';
  gap: 1.4rem;
  padding-left: 1.6rem;
  color: var(--white);
}

.menuItemLinkActive:hover {
  background-color: var(--state-bg-color-dark);
}

.buttonActive,
.button {
  background-color: var(--state-bg-color-dark);
}

/* INACTIVE MENU: */
.inactive {
  width: 73px;
}

.ul {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuItem {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menuItemLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  width: 100%;
  padding: 10px 0;
}

.menuItemLink:hover {
  background-color: var(--state-bg-color-dark);
}

.label {
  margin: 0;
  margin-top: 10px;
}
