.asideMenu {
  height: 100vh;
  padding-top: 65px;
  background-color: var(--light-bg-color-dark);
  position: fixed;
  top: 0;
  z-index: 0;
}

.activeMenu {
  width: 240px;
}

.inactiveMenu {
  width: 73px;
}
