:root {
  --bg-color-dark: #181818;
  --light-bg-color-dark: #212121;
  --lightest-bg-color-dark: #313131;
  --state-bg-color-dark: #383838;
  --bg-bar-search: #121212;
  --blue: #399aee;
  --white: #fff;
  --gray-white: #ddd;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--bg-color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.woff2') format('woff2');
}
